#main-container{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

#main-container form {
    width: 300px;
    display: flex;

    flex-direction: column;
    border: solid 4px rgba(202, 201, 201, 0.7);
    padding: 50px; 
}

#main-container form input{
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 30px;
}

#main-container form button {
    height: 48px;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 30px;
    background: #7159c1;
    color: #fff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

#main-container form button:hover{
    opacity: 0.8;
}


